<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		
		<title>SI Kependudukan</title>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link
		 href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"
		 rel="stylesheet" />
		
		
		</head>
<body>
		<div th:header="header">
			 <nav class="navbar  navbar-expand-lg  navbar-dark  bg-dark">
			  <a class="navbar-brand" href="/"> SI Kependudukan </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse"
			   data-target="#navbarSupportedContent"
			   aria-controls="navbarSupportedContent" aria-expanded="false"
			   aria-label="Toggle navigation">
			   <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse  navbar-collapse" id="navbarSupportedContent">
			   <ul class="navbar-nav  mr-auto">
			    <li class="nav-item"><a class="nav-link" href="/"> Home </a></li>
			    <li class="nav-item"><a class="nav-link"
			     href="/student/viewall"> Cari Data </a></li>
			   
			   </ul>
			   <form class="form-inline  my-2  my-lg-0">
			    <input class="form-control   mr-sm-2" type="text"
			     placeholder="Search" aria-label="Search" />
			    <button class="btn  btn-outline-success  my-2  my-sm-0"
			     type="submit">Search</button>
			   </form>
			  </div>
			 </nav>
		 </div>
</body>
</html>