<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>UTS APAP</title>
</head>
<body>
	<div th:replace="fragments/header"></div>
	<div class="container">
	<br/><br/>
	<h2>UTS APAP</h2>

	<hr/>
	
<!-- 	<h3>Lihat Data Penduduk Berdasarkan NIK</h3>
	<span><b>Masukkan Nomor Induk Kependudukan</b></span>
	<form th:action="@{'/penduduk'}" method="get" id="contact_form">
	    <input type="text" class="form-control" id="nik" name="nik"
	     placeholder=""/><br/>
	
	    <button type="submit" value="submit" id="submitnik" name="submitnik"
	     class="btn btn-sm">Lihat</button>
   </form>
   
   <hr/> -->
   
  
	</div>
</body>
</html>